In [24]:
import pandas as pd

In [25]:
data = pd.read_csv("/home/himanshu_27/Desktop/Untitled 1.csv", parse_dates= ["Day"])
data

          Day Temperature Windspeed     Event
0  01-11-2017          22    12 mph     Sunny
1  01-02-2017      -99999        16      Rain
2  24-12-2017          28        24    Spring
3  05-06-2017        33 F        22  No Event
4  10-03-2017      -99999         9    Winter
5  06-04-2012          12    -99999    Autumn

### Replacing NaN values with "0"

In [26]:
new = data.fillna(0)
new

          Day Temperature Windspeed     Event
0  01-11-2017          22    12 mph     Sunny
1  01-02-2017      -99999        16      Rain
2  24-12-2017          28        24    Spring
3  05-06-2017        33 F        22  No Event
4  10-03-2017      -99999         9    Winter
5  06-04-2012          12    -99999    Autumn

 Replacing only particular column with 0 # fillna()

In [27]:
# pass dictionary
new = data.fillna({
    "Windspeed" : 0,
    "Event" : "Not Defined",
    "Temperature" : "Nil"
})

new

          Day Temperature Windspeed     Event
0  01-11-2017          22    12 mph     Sunny
1  01-02-2017      -99999        16      Rain
2  24-12-2017          28        24    Spring
3  05-06-2017        33 F        22  No Event
4  10-03-2017      -99999         9    Winter
5  06-04-2012          12    -99999    Autumn

In [28]:
a = new["Windspeed"].mean()
print(a)

TypeError: Could not convert string '12 mph1624229-99999' to numeric

 Carry Forwarning the previous values -> pass "method = 'ffill' " in fillna as a argument.

In [7]:
my_val = data.fillna(method = "ffill")
print(my_val)

          Day  Temperature  Windspeed   Event
0  01-11-2017         22.0       12.0   Sunny
1  01-02-2017         22.0       16.0    Rain
2  24-12-2017         22.0       16.0  Spring
3  05-06-2017         33.0       22.0  Spring
4  10-03-2017         33.0        9.0  Spring

/tmp/ipykernel_8549/585138136.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  my_val = data.fillna(method = "ffill")

Backward Filling can also be done. -> 'bfill'

In [8]:
new = data.fillna(method = 'bfill')
new

/tmp/ipykernel_8549/754897021.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new = data.fillna(method = 'bfill')

          Day  Temperature  Windspeed   Event
0  01-11-2017         22.0       12.0   Sunny
1  01-02-2017         33.0       16.0    Rain
2  24-12-2017         33.0       22.0  Spring
3  05-06-2017         33.0       22.0     NaN
4  10-03-2017          NaN        9.0     NaN

Copying from Column

In [9]:
a = data.fillna(method = 'bfill', axis = "columns")
print(a)

          Day Temperature Windspeed   Event
0  01-11-2017        22.0      12.0   Sunny
1  01-02-2017        16.0      16.0    Rain
2  24-12-2017      Spring    Spring  Spring
3  05-06-2017        33.0      22.0     NaN
4  10-03-2017         9.0       9.0     NaN

/tmp/ipykernel_8549/486347555.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  a = data.fillna(method = 'bfill', axis = "columns")

# Want Technical Information about the Data ?

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          5 non-null      object
 1   Temperature  2 non-null      float64
 2   Windspeed    4 non-null      float64
 3   Event        3 non-null      object
dtypes: float64(2), object(2)
memory usage: 292.0+ bytes

# Giving Multiple Conditional Statements

In [11]:
a = pd.DataFrame(data)
print(a)

          Day  Temperature  Windspeed   Event
0  01-11-2017         22.0       12.0   Sunny
1  01-02-2017          NaN       16.0    Rain
2  24-12-2017          NaN        NaN  Spring
3  05-06-2017         33.0       22.0     NaN
4  10-03-2017          NaN        9.0     NaN

dont use "and" and "or" in "()" for passing multiple conditions. Instead use "|" and "&"

In [12]:
b = a[(a["Temperature"] > 30) | (a["Event"] == 'Sunny')]
print(b)

          Day  Temperature  Windspeed  Event
0  01-11-2017         22.0       12.0  Sunny
3  05-06-2017         33.0       22.0    NaN

 passing only to limited rows during forward and backward filling.

In [13]:
c = data.fillna(method = "ffill", limit = 1)
print(c)

          Day  Temperature  Windspeed   Event
0  01-11-2017         22.0       12.0   Sunny
1  01-02-2017         22.0       16.0    Rain
2  24-12-2017          NaN       16.0  Spring
3  05-06-2017         33.0       22.0  Spring
4  10-03-2017         33.0        9.0     NaN

/tmp/ipykernel_8549/3607228195.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  c = data.fillna(method = "ffill", limit = 1)

ffill and bfill are good but interpolate() is somehting which is great when filling NaN values. example - temp =[32, NaN, 28], if we carry out ffill or bfill, the resulting temp will be either 32 or 28 respectively. But there is very high chances that the next day the temp will be between 32 and 28 as there is sudden down in temp on 3rd day. Therefore use interpolate().

In [14]:
better_guess = data.interpolate()
print(better_guess)

          Day  Temperature  Windspeed   Event
0  01-11-2017    22.000000       12.0   Sunny
1  01-02-2017    25.666667       16.0    Rain
2  24-12-2017    29.333333       19.0  Spring
3  05-06-2017    33.000000       22.0     NaN
4  10-03-2017    33.000000        9.0     NaN

/tmp/ipykernel_8549/3810849590.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  better_guess = data.interpolate()

In [15]:
better_guess = data.interpolate(method = "time") # works only when dates are parsed.
better_guess

/tmp/ipykernel_8549/2558022789.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  better_guess = data.interpolate(method = "time") # works only when dates are parsed.

ValueError: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

# Drop all rows of NaN values

In [93]:
new = data.dropna()
print(new)

data.dropna(how = "all") # droping the row which contains all the values as NaN.
# as there are None, therefore it is printing all the table

          Day  Temperature  Windspeed  Event
0  01-11-2017         22.0       12.0  Sunny

          Day  Temperature  Windspeed   Event
0  01-11-2017         22.0       12.0   Sunny
1  01-02-2017          NaN       16.0    Rain
2  24-12-2017          NaN        NaN  Spring
3  05-06-2017         33.0       22.0     NaN
4  10-03-2017          NaN        9.0     NaN

In [96]:
a = data.dropna(thresh = 0)
print(a)

          Day  Temperature  Windspeed   Event
0  01-11-2017         22.0       12.0   Sunny
1  01-02-2017          NaN       16.0    Rain
2  24-12-2017          NaN        NaN  Spring
3  05-06-2017         33.0       22.0     NaN
4  10-03-2017          NaN        9.0     NaN

# Replaceing Values in Data

In [35]:
import numpy as np

new_data = pd.read_csv("/home/himanshu_27/Desktop/Untitled 1.csv")
new_data

          Day Temperature Windspeed     Event
0  01-11-2017          22    12 mph     Sunny
1  01-02-2017      -99999        16      Rain
2  24-12-2017          28        24    Spring
3  05-06-2017        33 F        22  No Event
4  10-03-2017      -99999         9    Winter
5  06-04-2012          12    -99999    Autumn

In [36]:
new_data.replace(-99999, np.nan, inplace = True)
new_data

          Day Temperature Windspeed     Event
0  01-11-2017          22    12 mph     Sunny
1  01-02-2017      -99999        16      Rain
2  24-12-2017          28        24    Spring
3  05-06-2017        33 F        22  No Event
4  10-03-2017      -99999         9    Winter
5  06-04-2012          12    -99999    Autumn

if you want to replace, let's say, No Event from Events column to Sunny, then instead of passing Columns as keys, pass directly the value that you want to replace as key and assign it a partiucular value.

ex -> "No Event" : "Sunny"

In [37]:
a = new_data.replace({
    "No Event" : "Sunny"
})
print(a)

          Day Temperature Windspeed   Event
0  01-11-2017          22    12 mph   Sunny
1  01-02-2017      -99999        16    Rain
2  24-12-2017          28        24  Spring
3  05-06-2017        33 F        22   Sunny
4  10-03-2017      -99999         9  Winter
5  06-04-2012          12    -99999  Autumn

In [39]:
new_data

          Day Temperature Windspeed     Event
0  01-11-2017          22    12 mph     Sunny
1  01-02-2017      -99999        16      Rain
2  24-12-2017          28        24    Spring
3  05-06-2017        33 F        22  No Event
4  10-03-2017      -99999         9    Winter
5  06-04-2012          12    -99999    Autumn

In [43]:
# Replacing mph and F with Blank
a = new_data.replace({
    "mph" : " ",
    "F" : " "
})
print(a)

          Day Temperature Windspeed     Event
0  01-11-2017          22    12 mph     Sunny
1  01-02-2017      -99999        16      Rain
2  24-12-2017          28        24    Spring
3  05-06-2017        33 F        22  No Event
4  10-03-2017      -99999         9    Winter
5  06-04-2012          12    -99999    Autumn

In [55]:
a = new_data.replace({
    "Temperature" : "[A-Za-z]",
    "Windspeed" : "[A-Za-z]"
}, '', regex = True)

print(a)

          Day Temperature Windspeed     Event
0  01-11-2017          22       12      Sunny
1  01-02-2017      -99999        16      Rain
2  24-12-2017          28        24    Spring
3  05-06-2017         33         22  No Event
4  10-03-2017      -99999         9    Winter
5  06-04-2012          12    -99999    Autumn

# Group by

In [8]:
df = pd.read_csv("/home/himanshu_27/Desktop/weather.csv")
print(df)

          Day     Place  Temperature  Windspeed     Event
0  01-11-2017    Mumbai           22         12     Sunny
1  01-02-2017     Paris       -99999         16      Rain
2  24-12-2017  New York           28         24    Spring
3  05-06-2017    Mumbai           33         22  No Event
4  10-03-2017     Paris       -99999          9    Winter
5  06-04-2012    Mumbai           12         22    Autumn

In [9]:
new = df.replace(-99999, 0, inplace = True)
df

          Day     Place  Temperature  Windspeed     Event
0  01-11-2017    Mumbai           22         12     Sunny
1  01-02-2017     Paris            0         16      Rain
2  24-12-2017  New York           28         24    Spring
3  05-06-2017    Mumbai           33         22  No Event
4  10-03-2017     Paris            0          9    Winter
5  06-04-2012    Mumbai           12         22    Autumn

In [28]:
new = df.groupby(level = 0)
for i, j in new:
    print(i)
    print(j)

0
          Day   Place  Temperature  Windspeed  Event
0  01-11-2017  Mumbai           22         12  Sunny
1
          Day  Place  Temperature  Windspeed Event
1  01-02-2017  Paris            0         16  Rain
2
          Day     Place  Temperature  Windspeed   Event
2  24-12-2017  New York           28         24  Spring
3
          Day   Place  Temperature  Windspeed     Event
3  05-06-2017  Mumbai           33         22  No Event
4
          Day  Place  Temperature  Windspeed   Event
4  10-03-2017  Paris            0          9  Winter
5
          Day   Place  Temperature  Windspeed   Event
5  06-04-2012  Mumbai           12         22  Autumn

In [20]:
new = df.groupby(by = "Event")
for i, j in new:
    print(i)
    print(j)

Autumn
          Day   Place  Temperature  Windspeed   Event
5  06-04-2012  Mumbai           12         22  Autumn
No Event
          Day   Place  Temperature  Windspeed     Event
3  05-06-2017  Mumbai           33         22  No Event
Rain
          Day  Place  Temperature  Windspeed Event
1  01-02-2017  Paris            0         16  Rain
Spring
          Day     Place  Temperature  Windspeed   Event
2  24-12-2017  New York           28         24  Spring
Sunny
          Day   Place  Temperature  Windspeed  Event
0  01-11-2017  Mumbai           22         12  Sunny
Winter
          Day  Place  Temperature  Windspeed   Event
4  10-03-2017  Paris            0          9  Winter

In [37]:
new = df.groupby("Place")

In [52]:

for Place_, df_ in new:
    print(Place_)
    #print(df_)

for place_, df_ in new:
    print(df_)

Mumbai
New York
Paris
          Day   Place  Temperature  Windspeed     Event
0  01-11-2017  Mumbai           22         12     Sunny
3  05-06-2017  Mumbai           33         22  No Event
5  06-04-2012  Mumbai           12         22    Autumn
          Day     Place  Temperature  Windspeed   Event
2  24-12-2017  New York           28         24  Spring
          Day  Place  Temperature  Windspeed   Event
1  01-02-2017  Paris            0         16    Rain
4  10-03-2017  Paris            0          9  Winter

In [40]:
new = df.groupby("Place", group_keys = True)
for i, j in new:
    print(i)
    print(j)

Mumbai
          Day   Place  Temperature  Windspeed     Event
0  01-11-2017  Mumbai           22         12     Sunny
3  05-06-2017  Mumbai           33         22  No Event
5  06-04-2012  Mumbai           12         22    Autumn
New York
          Day     Place  Temperature  Windspeed   Event
2  24-12-2017  New York           28         24  Spring
Paris
          Day  Place  Temperature  Windspeed   Event
1  01-02-2017  Paris            0         16    Rain
4  10-03-2017  Paris            0          9  Winter

In [56]:
# getting particular Location of groupedby table.
new.get_group("Mumbai")

          Day   Place  Temperature  Windspeed     Event
0  01-11-2017  Mumbai           22         12     Sunny
3  05-06-2017  Mumbai           33         22  No Event
5  06-04-2012  Mumbai           12         22    Autumn

In [62]:
# getting max values # Takes Date Column as index and gives the value according to its index only...not from the entire table.
df.max()

# to get max from whole Columns
new.max()
# this returns max temp, windspeed, event that it finds in whole columns after grouping them together.

                 Day  Temperature  Windspeed   Event
Place
Mumbai    06-04-2012           33         22   Sunny
New York  24-12-2017           28         24  Spring
Paris     10-03-2017            0         16  Winter

describing each columns which are grouped by.

In [63]:
new.describe()

         Temperature                                                      \
               count       mean        std   min   25%   50%   75%   max
Place
Mumbai           3.0  22.333333  10.503968  12.0  17.0  22.0  27.5  33.0
New York         1.0  28.000000        NaN  28.0  28.0  28.0  28.0  28.0
Paris            2.0   0.000000   0.000000   0.0   0.0   0.0   0.0   0.0

         Windspeed
             count       mean       std   min    25%   50%    75%   max
Place
Mumbai         3.0  18.666667  5.773503  12.0  17.00  22.0  22.00  22.0
New York       1.0  24.000000       NaN  24.0  24.00  24.0  24.00  24.0
Paris          2.0  12.500000  4.949747   9.0  10.75  12.5  14.25  16.0

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 1 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          2 non-null      object
 1   Place        2 non-null      object
 2   Temperature  2 non-null      int64
 3   Windspeed    2 non-null      int64
 4   Event        2 non-null      object
dtypes: int64(2), object(3)
memory usage: 96.0+ bytes

# Merging Two DataFrames

In [32]:
df1 = pd.DataFrame({
    "City" : ["Mumbai", "Delhi", "Chennai", "Kolkata"],
    "Event" : ["Cloudy", "Sunny", "Rainy", "Rainy"],
    "Temperature" : [15, 34, 17, 27]
})
df1

      City   Event  Temperature
0   Mumbai  Cloudy           15
1    Delhi   Sunny           34
2  Chennai   Rainy           17
3  Kolkata   Rainy           27

In [33]:
df2 = pd.DataFrame({
    "City" : ["NYC", "Washington DC", "Las Vegas", "California"],
    "Event" : ["Sunny", "Sunny", "Rainy", "Cloudy"],
    "Temperature" : [24, 26, 29, 20]
})
df2

            City   Event  Temperature
0            NYC   Sunny           24
1  Washington DC   Sunny           26
2      Las Vegas   Rainy           29
3     California  Cloudy           20

Joining them

In [82]:
new = pd.concat([df1, df2])
new

            City   Event  Temperature
0         Mumbai  Cloudy           15
1          Delhi   Sunny           34
2        Chennai   Rainy           17
3        Kolkata   Rainy           27
0            NYC   Sunny           24
1  Washington DC   Sunny           26
2      Las Vegas   Rainy           29
3     California  Cloudy           20

Removing Index

In [84]:
new = pd.concat([df1, df2], ignore_index = True)
print(new)

            City   Event  Temperature
0         Mumbai  Cloudy           15
1          Delhi   Sunny           34
2        Chennai   Rainy           17
3        Kolkata   Rainy           27
4            NYC   Sunny           24
5  Washington DC   Sunny           26
6      Las Vegas   Rainy           29
7     California  Cloudy           20

to make it more readable, we can do the following change

In [37]:
new = pd.concat([df1, df2], keys = ["India", "USA"], axis = 1)
print(new)

     India                                USA
      City   Event Temperature           City   Event Temperature
0   Mumbai  Cloudy          15            NYC   Sunny          24
1    Delhi   Sunny          34  Washington DC   Sunny          26
2  Chennai   Rainy          17      Las Vegas   Rainy          29
3  Kolkata   Rainy          27     California  Cloudy          20

In [97]:
# Finding data of India only
new.loc["India"]
new.iloc[1]

City           Delhi
Event          Sunny
Temperature       34
Name: (India, 1), dtype: object

In [42]:
weather_ = pd.DataFrame({
    "City" : ["Mumbai", "Bangalore", "Chennai"],
    "Temp" : [15, 24, 19]
}) 

humidity_ = pd.DataFrame({
    "City" : ["Mumbai", "Bangalore", "Chennai"],
    "humidity" : [12, 7, 9]
})

# merging them
new = pd.concat([weather_, humidity_])
new

        City  Temp  humidity
0     Mumbai  15.0       NaN
1  Bangalore  24.0       NaN
2    Chennai  19.0       NaN
0     Mumbai   NaN      12.0
1  Bangalore   NaN       7.0
2    Chennai   NaN       9.0

In [44]:
new = pd.concat([weather_, humidity_], axis = 1)
new

        City  Temp       City  humidity
0     Mumbai    15     Mumbai        12
1  Bangalore    24  Bangalore         7
2    Chennai    19    Chennai         9

but if the humidity_ dataframe contains names which are not arranged in order of weather_ dataframe, then last called DF will also get cities in that unarranged way. Therefore to make it possible, we pass index col in each dict assigning particular index to particular city.

In [51]:
weather_ = pd.DataFrame({
    "City" : ["Mumbai", "Chennai", "Bangalore" ],
    "Temp" : [15, 24, 19]
    
}, index = [1, 2, 3]) 

humidity_ = pd.DataFrame({
    "City" : ["Mumbai", "Bangalore", "Chennai"],
    "humidity" : [12, 7, 9]
}, index = [1, 3, 2])

print(pd.concat([weather_, humidity_], axis = 1))

        City  Temp       City  humidity
1     Mumbai    15     Mumbai        12
2    Chennai    24    Chennai         9
3  Bangalore    19  Bangalore         7

Adding only Humidity column to the dataframe.

In [56]:
s = pd.Series([12, 9, 7],index = [1, 2, 3], name = "Humidity")
new = pd.concat([weather_, s], axis = 1)
new

        City  Temp  Humidity
1     Mumbai    15        12
2    Chennai    24         9
3  Bangalore    19         7

we can directly do the above thing using merge() function.

Merging using Merge() function

In [11]:
weather_ = pd.DataFrame({
    "City" : ["Mumbai", "Chennai", "Bangalore" ],
    "Temp" : [15, 24, 19]    
}) 

humidity_ = pd.DataFrame({
    "City" : ["Mumbai", "Bangalore", "Chennai"],
    "humidity" : [12, 7, 9]
})

new = pd.merge(weather_, humidity_, on = "City")
print(new)

        City  Temp  humidity
0     Mumbai    15        12
1    Chennai    24         9
2  Bangalore    19         7

what if you want to join two dataframes but dataframes have different number of values ?

In [15]:
weather_ = pd.DataFrame({
    "City" : ["Mumbai", "Chennai", "Bangalore", "Kolkata", "Delhi"],
    "Temp" : [15, 24, 19, 20, 21]    
})

humidity_ = pd.DataFrame({
    "City" : ["Mumbai", "Bangalore", "Chennai", "lucknow"],
    "Humidity" : [12, 7, 9, 24]
})

new = pd.merge(weather_, humidity_)
new

        City  Temp  Humidity
0     Mumbai    15        12
1    Chennai    24         9
2  Bangalore    19         7

if we want all the cities from the weather_ DF. 
Set concepts -
inner = intersection
outer = union
left = all from df1 and inner
right = all from df2 and inner

In [19]:
new = pd.merge(weather_, humidity_, on = "City", how = "right")
print(new)

        City  Temp  Humidity
0     Mumbai  15.0        12
1  Bangalore  19.0         7
2    Chennai  24.0         9
3    lucknow   NaN        24

to get to know form the data came from, use indicator = True

In [21]:
new = pd.merge(weather_, humidity_, on = "City", how = "outer", indicator = True)
print(new)

        City  Temp  Humidity      _merge
0  Bangalore  19.0       7.0        both
1    Chennai  24.0       9.0        both
2      Delhi  21.0       NaN   left_only
3    Kolkata  20.0       NaN   left_only
4     Mumbai  15.0      12.0        both
5    lucknow   NaN      24.0  right_only

# Pivot Table

In [40]:
data = pd.read_csv("/home/himanshu_27/Desktop/weather.csv")
print(data)

          Day     Place  Temperature  Windspeed     Event
0  01-11-2017    Mumbai           22         12     Sunny
1  01-02-2017     Paris       -99999         16      Rain
2  24-12-2017  New York           28         24    Spring
3  05-06-2017    Mumbai           33         22  No Event
4  10-03-2017     Paris       -99999          9    Winter
5  06-04-2012    Mumbai           12         22    Autumn

In [41]:
data.pivot(index = "Day", columns = "Place")

           Temperature                   Windspeed                    Event  \
Place           Mumbai New York    Paris    Mumbai New York Paris    Mumbai
Day
01-02-2017         NaN      NaN -99999.0       NaN      NaN  16.0       NaN
01-11-2017        22.0      NaN      NaN      12.0      NaN   NaN     Sunny
05-06-2017        33.0      NaN      NaN      22.0      NaN   NaN  No Event
06-04-2012        12.0      NaN      NaN      22.0      NaN   NaN    Autumn
10-03-2017         NaN      NaN -99999.0       NaN      NaN   9.0       NaN
24-12-2017         NaN     28.0      NaN       NaN     24.0   NaN       NaN


Place      New York   Paris
Day
01-02-2017      NaN    Rain
01-11-2017      NaN     NaN
05-06-2017      NaN     NaN
06-04-2012      NaN     NaN
10-03-2017      NaN  Winter
24-12-2017   Spring     NaN

In [44]:
data.pivot(index = "Day", columns = "Place", values = "Event")

Place         Mumbai New York   Paris
Day
01-02-2017       NaN      NaN    Rain
01-11-2017     Sunny      NaN     NaN
05-06-2017  No Event      NaN     NaN
06-04-2012    Autumn      NaN     NaN
10-03-2017       NaN      NaN  Winter
24-12-2017       NaN   Spring     NaN

In [58]:
data.pivot_table(index = "Place", columns = "Day", aggfunc = "sum", margins = True)

              Event                                                         \
Day      01-02-2017 01-11-2017 05-06-2017 06-04-2012 10-03-2017 24-12-2017
Place
Mumbai          NaN      Sunny   No Event     Autumn        NaN        NaN
New York        NaN        NaN        NaN        NaN        NaN     Spring
Paris          Rain        NaN        NaN        NaN     Winter        NaN
All            Rain      Sunny   No Event     Autumn     Winter     Spring

                                              Temperature             \
Day                                       All  01-02-2017 01-11-2017
Place
Mumbai                    SunnyNo EventAutumn         NaN       22.0
New York                               Spring         NaN        NaN
Paris                              RainWinter    -99999.0        NaN
All       SunnyRainSpringNo EventWinterAutumn      -99999         22

                     ...                                Windspeed             \
Day      05-06-2017  ... 10-03-2017 24-12-2017     All 01-02-2017 01-11-2017
Place                ...
Mumbai         33.0  ...        NaN        NaN      67        NaN       12.0
New York        NaN  ...        NaN       28.0      28        NaN        NaN
Paris           NaN  ...   -99999.0        NaN -199998       16.0        NaN
All              33  ...     -99999         28 -199903         16         12


Day      05-06-2017 06-04-2012 10-03-2017 24-12-2017  All
Place
Mumbai         22.0       22.0        NaN        NaN   56
New York        NaN        NaN        NaN       24.0   24
Paris           NaN        NaN        9.0        NaN   25
All              22         22          9         24  105

[4 rows x 21 columns]